:root {
    --primary-color-1: #f88;
    --secondary-color-1: #ff000020;
    --primary-color-2: #c8c;
    --secondary-color-2: #cc88cc20;
}
body {
    margin: 0;
    font-family: Consolas, monospace;
}
main {
    margin-inline: 4rem;
}
h1 {
    height: 2em;
    width: calc(100vw - 2em);
    position: relative;
    background: linear-gradient(
        to right,
        var(--primary-color-1),
        var(--primary-color-2)
    );
    translate: 2em;
}
h1::before {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: var(--primary-color-1);
    transform: skewX(-45deg);
    translate: -1em;
    content: "";
    z-index: -1;
}

main {
    margin-inline: 4rem;
}
